@font-face {
  font-family: HelveticaNowDisplay;
  src: url("./fonts/HelveticaNowDisplay-Bold.ttf");
}
@font-face {
  font-family: HelveticaNowText;
  src: url("./fonts/helvetica-now-font-family-1732613676-0/helveticanowtext-bold-demo.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 16px;
}
html body {
  background-color: #000000;
  color: #fff;
  font-family: HelveticaNowText;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html body header {
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8509803922);
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 2rem;
}
@media (min-width: 1024px) {
  html body header {
    padding: 0;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
  }
}
html body header .menu {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  html body header .menu {
    display: none;
  }
}
html body header .menu .menu-button {
  cursor: pointer;
}
html body header .logo {
  width: 2rem;
  height: 2rem;
}
@media (min-width: 1024px) {
  html body header .logo {
    align-self: center;
  }
}
html body header .logo img {
  width: 100%;
  height: 100%;
}
html body header .lista {
  display: none;
}
@media (min-width: 1024px) {
  html body header .lista {
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
html body header .lista ul {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-items: center;
  align-items: center;
}
html body header .lista ul li {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  justify-content: center;
  align-content: center;
}
html body header .lista ul li:hover {
  border-bottom: 2px solid #fff;
}
html body header .modulo-derecho {
  display: none;
}
@media (min-width: 1024px) {
  html body header .modulo-derecho {
    align-self: center;
    display: flex;
    gap: 2rem;
  }
  html body header .modulo-derecho .boton-launcher {
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #fcaf17;
    color: #000000;
    width: 80%;
    justify-self: center;
    align-self: center;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  html body header .modulo-derecho .boton-launcher {
    width: 178px;
    height: 37px;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
}
@media (min-width: 1024px) {
  html body header .modulo-derecho .login {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #494949;
  }
}
html body header .login {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #494949;
}
@media (min-width: 1024px) {
  html body header .login {
    display: none;
  }
}
html body .menu-abierto {
  display: none;
  height: 0;
}
@media (min-width: 1024px) {
  html body .menu-abierto {
    display: none;
    width: 0;
  }
}
html body .menu-toggle {
  display: none;
}
html body .menu-toggle:checked ~ *:not(.menu-abierto) {
  display: none;
}
html body .menu-toggle:checked + .menu-abierto {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000000;
}
html body .menu-toggle:checked + .menu-abierto .buscador {
  min-height: 3rem;
  background-color: #494949;
  display: flex;
  width: 100%;
  padding-left: 2rem;
  gap: 1rem;
  align-items: center;
  margin-top: 80px;
}
html body .menu-toggle:checked + .menu-abierto .carrusel {
  padding: 2rem;
}
html body .menu-toggle:checked + .menu-abierto .carrusel .carrusel-titulo {
  font-size: 2rem;
}
html body .menu-toggle:checked + .menu-abierto .carrusel .carrusel-juegos {
  display: flex;
  gap: 1rem;
}
html body .menu-toggle:checked + .menu-abierto .carrusel .carrusel-juegos img {
  width: 33%;
  border-color: white;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
}
html body .menu-toggle:checked + .menu-abierto .navegador .enlaces-navegador li {
  padding: 2rem;
  font-size: 1.25rem;
}
html body .menu-toggle:checked + .menu-abierto .boton-launcher {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fcaf17;
  color: #000000;
  width: 80%;
  justify-self: center;
  align-self: center;
}
@media (min-width: 1024px) {
  html body .menu-toggle:checked + .menu-abierto .boton-launcher {
    width: 178px;
    height: 37px;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
}
html body main {
  width: 100%;
}
html body main .relleno {
  height: 80px;
  background-color: #000000;
}
html body main .imagen {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
html body main .imagen ul {
  list-style-type: none;
  padding: 0;
}
html body main .imagen input[type=radio] {
  display: none;
}
html body main .imagen li {
  display: none;
}
html body main .imagen input[type=radio]:checked + li {
  display: block;
}
@media (min-width: 1024px) {
  html body main .imagen input[type=radio]:checked + li {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  html body main .imagen input[type=radio]:checked + li img {
    width: auto;
    height: 85vh;
  }
}
html body main .imagen .textos-main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
html body main .imagen .textos-main .subtitulo {
  font-size: 0.75rem;
}
html body main .imagen .textos-main .titulo {
  font-family: HelveticaNowDisplay;
  font-size: 2rem;
}
html body main .imagen .textos-main .boton {
  border: solid 1px #e8e8e8;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: HelveticaNowDisplay;
}
@media (min-width: 1024px) {
  html body main .imagen .textos-main .boton {
    width: 178px;
    height: 37px;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
}
html body main .imagen .textos-main .boton:hover {
  background-color: #fcaf17;
  color: #494949;
  border-color: #fcaf17;
}
@media (min-width: 1024px) {
  html body main .imagen .textos-main .boton {
    width: 190px;
    height: 50px;
  }
}
html body main .deslizador {
  height: 20px;
  width: 100%;
  display: inline;
  z-index: 10;
}
@media (min-width: 1024px) {
  html body main .deslizador {
    width: auto;
    height: 85vh;
    bottom: 100px;
    left: 80%;
    position: relative;
  }
}
html body main .deslizador ul {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  width: 100%;
}
html body main .deslizador ul .label {
  width: 100%;
  height: 100%;
}
html body main .deslizador ul .circulitos {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  html body main .deslizador ul .circulitos {
    width: 15px;
    height: 15px;
  }
}
html body .cartas {
  background-color: #494949;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: grid;
  justify-content: center;
}
html body .cartas .titulo-cartas {
  padding: 2rem;
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  html body .cartas .carta-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
html body .cartas .carta-container .carta {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 15px;
  border-color: #e8e8e8;
  overflow: hidden;
  background-color: #000000;
}
@media (min-width: 1024px) {
  html body .cartas .carta-container .carta {
    width: 89%;
  }
}
html body .cartas .carta-container .carta .texto-carta {
  display: flex;
  flex-direction: column;
  height: 33%;
  width: 100%;
  padding: 2rem;
}
html body .cartas .carta-container .carta .texto-carta .textos {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
}
html body .cartas .carta-container .carta .texto-carta .titulo-carta {
  font-size: 1.25rem;
}
html body .juegos-destacados {
  padding: 2rem;
  background-color: #494949;
}
html body .juegos-destacados .juegos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (min-width: 1024px) {
  html body .juegos-destacados .juegos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
html body .juegos-destacados .juegos .juego-destacado-principal {
  grid-column: 1/3;
}
html body .juegos-destacados .juegos .juego-destacado-principal .dos {
  display: none;
}
@media (min-width: 1024px) {
  html body .juegos-destacados .juegos .juego-destacado-principal {
    grid-column: 1/5;
  }
  html body .juegos-destacados .juegos .juego-destacado-principal .uno {
    display: none;
  }
  html body .juegos-destacados .juegos .juego-destacado-principal .dos {
    display: block;
  }
}
html body .juegos-destacados .juegos .juego {
  border-color: #000000;
  border-width: 5px;
  border-radius: 10px;
  overflow: hidden;
}
html body .juegos-destacados .juegos .juego img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
html body .juegos-destacados .ver-mas-juegos {
  margin: 2rem;
  font-size: 1rem;
  justify-self: center;
  text-decoration: underline;
}
html body .suscribete {
  padding: 2rem;
}
html body .suscribete .suscribite-titulo {
  font-size: 2rem;
}
html body .suscribete .suscribite-texto {
  font-size: 1rem;
}
html body .suscribete .boton-suscribete {
  border: solid 1px #e8e8e8;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: HelveticaNowDisplay;
}
@media (min-width: 1024px) {
  html body .suscribete .boton-suscribete {
    width: 178px;
    height: 37px;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
}
html body .suscribete .boton-suscribete:hover {
  background-color: #fcaf17;
  color: #494949;
  border-color: #fcaf17;
}
html body .footer-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 2rem;
}
html body .footer-header .footer-container-one {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  padding: 0;
  width: 100%;
  margin-bottom: 2rem;
}
html body .footer-header .footer-container-one ul li {
  width: 100%;
  margin-bottom: 1rem;
}
html body .footer-header .footer-container-one ul li:hover {
  color: #fcaf17;
  cursor: pointer;
}
html body .footer-header .selector-idioma {
  width: 100%;
  font-size: 0.75rem;
  padding: 0;
  grid-column: 3/3;
}
html body .footer-header .rrss {
  margin-bottom: 2rem;
  grid-column: 1/3;
}
html body .footer-header .rrss ul {
  display: flex;
  flex-direction: row;
}
html body .footer-header .rrss ul li {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
html body .footer-header .rrss ul li:hover {
  border-radius: 50%;
  background-color: #494949;
}
html body .footer-header .footer-container-two {
  display: flex;
  color: #494949;
  grid-column: 1/3;
}
html body .footer-header .footer-container-two ul li {
  margin-bottom: 1rem;
}
html body .footer-header .footer-container-two ul li:hover {
  color: #fcaf17;
  cursor: pointer;
}
@media (min-width: 1024px) {
  html body .footer-header .footer-container-two {
    display: flex;
    flex-direction: column;
  }
}
html body .footer-footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  html body .footer-footer {
    flex-direction: row;
  }
}
html body .footer-footer .ciudades ul {
  display: flex;
  padding: 1rem;
}
html body .footer-footer .ciudades ul li {
  padding-inline: 1rem;
}

/*# sourceMappingURL=main.css.map */
