@font-face {
  font-family: HelveticaNowDisplay;
  src: url("./fonts/HelveticaNowDisplay-Bold.ttf");
}

@font-face {
  font-family: HelveticaNowText;
  src: url("./fonts/helvetica-now-font-family-1732613676-0/helveticanowtext-bold-demo.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
// declaración de variables

$primary-color: #000000;
$secundary-color: #0b0b0b;
$amarilloRockstar: #fcaf17;
$color1: #fff;
$color2: #e8e8e8;
$primary-font: HelveticaNowText;
$secundary-font: HelveticaNowDisplay;
$breakpoint-tablet: 768px;
$breakpoint-escritorio: 1024px;

@mixin boton() {
  border: solid 1px $color2;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: $secundary-font;
  @media (min-width: $breakpoint-escritorio) {
    width: 178px;
    height: 37px;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  &:hover {
    background-color: $amarilloRockstar;
    color: $secundary-color;
    border-color: $amarilloRockstar;
  }
}
@mixin boton-launcher() {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $amarilloRockstar;
  color: $primary-color;
  width: 80%;
  justify-self: center;
  align-self: center;
  @media (min-width: $breakpoint-escritorio) {
    width: 178px;
    height: 37px;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
}
@mixin carta() {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 15px;
  border-color: $color2;
  overflow: hidden;
  background-color: $primary-color;
  @media (min-width: $breakpoint-escritorio) {
    width: 89%;
  }
}
html {
  font-size: 16px;

  body {
    background-color: $primary-color;
    color: $color1;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;

    header {
      height: 80px;
      width: 100%;
      background-color: #000000d9;
      display: flex;
      justify-content: space-between;
      position: fixed;
      align-items: center;
      padding: 2rem;
      border-bottom: 1px solid $secundary-color;
      @media (min-width: $breakpoint-escritorio) {
        padding: 0;
        justify-content: space-around;
        justify-items: center;
        align-content: center;
      }

      .menu {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: $breakpoint-escritorio) {
          display: none;
        }

        .menu-button {
          cursor: pointer;
        }
      }
      .logo {
        width: 2rem;
        height: 2rem;
        @media (min-width: $breakpoint-escritorio) {
          align-self: center;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
      .lista {
        display: none;
        @media (min-width: $breakpoint-escritorio) {
          display: flex;
          height: 100%;
          justify-items: center;
          align-items: center;
          padding-left: 3rem;
          padding-right: 3rem;
        }
        ul {
          display: flex;
          flex-direction: row;
          height: 80px;
          justify-items: center;
          align-items: center;

          li {
            padding-left: 1rem;
            padding-right: 1rem;
            height: 100%;
            justify-content: center;
            align-content: center;

            &:hover {
              border-bottom: 2.5px solid #fff;
              cursor: pointer;
            }
          }
        }
      }
      .modulo-derecho {
        display: none;
        @media (min-width: $breakpoint-escritorio) {
          align-self: center;
          display: flex;
          gap: 2rem;
          .boton-launcher {
            @include boton-launcher();
          }
          .login {
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $secundary-color;
          }
        }
      }
      .login {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $secundary-color;
        @media (min-width: $breakpoint-escritorio) {
          display: none;
        }
      }
    }
    .menu-abierto {
      display: none;
      height: 0;
      @media (min-width: $breakpoint-escritorio) {
        display: none;
        width: 0;
      }
    }
    .menu-toggle {
      display: none;
    }
    .menu-toggle:checked ~ *:not(.menu-abierto) {
      display: none;
    }
    .menu-toggle:checked + .menu-abierto {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: $primary-color;

      .buscador {
        min-height: 3rem;
        background-color: $secundary-color;
        display: flex;
        width: 100%;
        padding-left: 2rem;
        gap: 1rem;
        align-items: center;
        margin-top: 80px;
      }
      .carrusel {
        padding: 2rem;
        .carrusel-titulo {
          font-size: 2rem;
        }
        .carrusel-juegos {
          display: flex;
          gap: 1rem;
          img {
            width: 33%;
            border-color: white;
            border-width: 1px;
            border-radius: 15px;
            border-style: solid;
          }
        }
      }
      .navegador .enlaces-navegador li {
        padding: 2rem;
        font-size: 1.25rem;
      }
      .boton-launcher {
        @include boton-launcher();
      }
    }
    main {
      width: 100%;

      .relleno {
        height: 80px;
        background-color: #000000;
      }

      .imagen {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;

        ul {
          list-style-type: none;
          padding: 0;
        }

        input[type="radio"] {
          display: none;
        }

        li {
          display: none;
        }

        input[type="radio"]:checked + li {
          display: block;
          @media (min-width: $breakpoint-escritorio) {
            display: flex;
            flex-direction: row;
          }
          img {
            @media (min-width: $breakpoint-escritorio) {
              width: auto;
              height: 85vh;
            }
          }
        }
        .textos-main {
          padding: 1rem;
          display: flex;
          flex-direction: column;

          .subtitulo {
            font-size: 0.75rem;
          }
          .titulo {
            font-family: $secundary-font;
            font-size: 2rem;
          }
          .boton {
            @include boton();
            @media (min-width: $breakpoint-escritorio) {
              width: 190px;
              height: 50px;
            }
          }
        }
      }
      .deslizador {
        height: 20px;
        width: 100%;
        display: inline;
        z-index: 10;
        @media (min-width: $breakpoint-escritorio) {
          width: auto;
          height: 85vh;
          bottom: 100px;
          left: 80%;
          position: relative;
        }
        ul {
          display: flex;
          flex-direction: row;
          margin-top: 1rem;
          margin-bottom: 1rem;
          height: 100%;
          width: 100%;
          .label {
            width: 100%;
            height: 100%;
          }
          .circulitos {
            background-color: #ffffff66;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            @media (min-width: $breakpoint-escritorio) {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }

    .cartas {
      background-color: $secundary-color;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      display: grid;
      justify-content: center;
      .titulo-cartas {
        padding: 2rem;
        font-size: 1.5rem;
      }
      .carta-container {
        @media (min-width: $breakpoint-escritorio) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }

        .carta {
          @include carta();

          .texto-carta {
            display: flex;
            flex-direction: column;
            height: 33%;
            width: 100%;
            padding: 2rem;
            .textos {
              display: flex;
              flex-direction: row;
              font-size: 0.75rem;
            }
            .titulo-carta {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
    .juegos-destacados {
      padding: 2rem;
      background-color: $secundary-color;
      .juegos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        @media (min-width: $breakpoint-escritorio) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .juego-destacado-principal {
          grid-column: 1 / 3;
          .dos {
            display: none;
          }
          @media (min-width: $breakpoint-escritorio) {
            grid-column: 1 / 5;
            .uno {
              display: none;
            }
            .dos {
              display: block;
            }
          }
        }
        .juego {
          border-color: $primary-color;
          border-width: 5px;
          border-radius: 10px;
          overflow: hidden;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
      .ver-mas-juegos {
        margin: 2rem;
        font-size: 1rem;
        justify-self: center;
        text-decoration: underline;
      }
    }
    .suscribete {
      padding: 2rem;
      .suscribite-titulo {
        font-size: 2rem;
      }
      .suscribite-texto {
        font-size: 1rem;
      }
      .boton-suscribete {
        @include boton();
      }
    }
    .footer-header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-inline: 2rem;
      .footer-container-one {
        display: flex;
        flex-direction: column;
        grid-column: 1/3;
        padding: 0;
        width: 100%;
        margin-bottom: 2rem;
        ul li {
          width: 100%;
          margin-bottom: 1rem;
          &:hover {
            color: $amarilloRockstar;
            cursor: pointer;
          }
        }
      }
      .selector-idioma {
        width: 100%;
        font-size: 0.75rem;
        padding: 0;
        grid-column: 3/3;
      }
      .rrss {
        margin-bottom: 2rem;
        grid-column: 1/3;
        ul {
          display: flex;
          flex-direction: row;

          li {
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            &:hover {
              border-radius: 50%;
              background-color: $secundary-color;
            }
          }
        }
      }
      .footer-container-two {
        display: flex;
        color: $secundary-color;
        grid-column: 1/3;
        ul li {
          margin-bottom: 1rem;
          &:hover {
            color: $amarilloRockstar;
            cursor: pointer;
          }
        }
        @media (min-width: $breakpoint-escritorio) {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .footer-footer {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $breakpoint-escritorio) {
        flex-direction: row;
      }
      .ciudades ul {
        display: flex;
        padding: 1rem;
        li {
          padding-inline: 1rem;
        }
      }
    }
  }
}
